<header>
  <h2>{{ project.name }}</h2>

  <div class="addon">
    <a class="btn" href="#" data-modal-open="#edit-project">Editar projeto</a>
    <form action="/app/projects/{{ project.id }}?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">Excluir projeto</a>
    </form>
   </div>
</header>

<div class="modal" id="edit-project">
  <form class="modal-content" method="POST" action="/app/projects/{{ project.id }}?_method=PUT">
    <input type="text" name="name" placeholder="Título da seção" value="{{ project.name }}">

    <button type="submit">SALVAR PROJETO</button>
    <a href="#" data-modal-close="#edit-project">CANCELAR</a>
  </form>
</div>
