{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
    {% include 'partials/header.njk' %}

    <section id="main">
      <div class="container">
        {% include 'partials/projectheader.njk' %}

        <section id="content">
          {% include 'partials/sections.njk' %}

          <article class="section-content">
            <div class="project-header">
              <h1>{{ currentSection.name }}</h1>

              <a class="edit" href="#" data-modal-open="#edit-section">Editar seção</a>
              <form action="/app/projects/{{ project.id }}/sections/{{ currentSection.id }}?_method=DELETE" method="POST">
                <button type="submit">Remover seção</button>
              </form>
            </div>

            <div class="content">
              {{ currentSection.formattedContent | safe }}
            </div>
          </article>
        </section>
      </div>
    </section>

    <div class="modal" id="edit-section">
      <form class="modal-content" method="POST" action="/app/projects/{{ project.id }}/sections/{{ currentSection.id }}?_method=PUT">
        <input type="text" name="name" placeholder="Título da seção" value="{{ currentSection.name }}">
        <div class="content-container">
          <textarea name="content" class="mde" placeholder="Conteúdo da seção">{{ currentSection.content }}</textarea>
        </div>

        <button type="submit">SALVAR SEÇÃO</button>
        <a href="#" data-modal-close="#edit-section">CANCELAR</a>
      </form>
    </div>
  </div>
{% endblock %}
